<div class="col-12 menu-item-container">
<div class="row reset-gutter">
  <div class="col-4 mb-5 mt-5">
    <div class="card" (click)="onItemCLicked(1)">
    <img class="menu-item mt-5" src="assets\images\menu-item.png">
    <div class="card-header menu-item-text">
      Document Control
    </div>
    </div>
  </div>
  <div class="col-4 mb-5 mt-5">
    <div class="card" (click)="onItemCLicked(2)">
      <img class="menu-item mt-5" src="assets\images\menu-item.png">
      <div class="card-header menu-item-text">
        Legal Documents
      </div>
    </div>
  </div>
  <div class="col-4 mb-5 mt-5">
    <div class="card" (click)="onItemCLicked(3)">
      <img class="menu-item mt-5" src="assets\images\menu-item.png">
      <div class="card-header menu-item-text">
        Production Records
      </div>
    </div>

  </div>
</div>
<div class="row reset-gutter">
  <div class="col-4 mb-5 mt-5">
    <div class="card" (click)="onItemCLicked(4)">
      <img class="menu-item mt-5" src="assets\images\menu-item.png">
      <div class="card-header menu-item-text">
        Payments/ Financial
      </div>
    </div>
  </div>
  <div class="col-4 mb-5 mt-5">
    <div class="card" (click)="onItemCLicked(5)">
      <img class="menu-item mt-5" src="assets\images\menu-item.png">
      <div class="card-header menu-item-text">
        Staff Data
      </div>
    </div>
  </div>
  <div class="col-4 mb-5 mt-5">
    <div class="card" (click)="onItemCLicked(6)">
      <img class="menu-item mt-5" src="assets\images\menu-item.png">
      <div class="card-header menu-item-text">
        Incident Report
      </div>
    </div>
  </div>
</div>
</div>
