.header-label{
  color: white;
  /*margin-right: 5px;*/
  background: #4a5d7e;
}
.manager-approved{
  background: #0c9801;
}
.qe-approved{
  background: #c69500;
}
.not-reviwed{
  background: red;
}

.header-bar {
  margin: 5px;
}
.top-bar{
  padding: 5px;
  margin-bottom: 5px;
}
.header-topic{
  color:white;
  background:#4a5d7e;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.valid-date{
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color:#4a5d7e;
  margin-top: 5px
}
