<div class="card top-bar">
<div class="h2 col-12 text-sm-center header-topic"  style="height: 35px ">
  {{header}}
</div>

  <div class="col-12 header-bar">
    <div class="row">

    <div class="col-4 h3 text-sm-center valid-date" style="margin-bottom: 0px">
      Valid from : {{docValidFrom}}
    </div>
    <div class="col-4">
      <button style="width: 100%" class="btn btn-lg btn-info" [ngClass]="docStatusStyle" (click)="showApprovalPopup()">{{docStatus}}</button>
    </div>

    <div class="col-2">
      <button style="width: 100%" class="btn btn-lg btn-info" (click)="clickList()">Linked docs</button>
    </div>
      <div class="col-2">
        <button style="width: 100%" class="btn btn-lg btn-info" (click)="clickHistory()">History</button>
      </div>

  </div>
    </div>
</div>




<div mat-dialog-content style="max-height: 100%">
<pdf-viewer [src]="pdfSrc"
            [render-text]="true"
            [original-size]="false"
            [fit-to-page]="true"
            style="display: block;">
</pdf-viewer>

</div>






