<div class="col-12">
<div class="h2 col-12 text-sm-center header-topic"  style="height: 35px ">
 Add Comment For {{docID}}
</div>

<div class="row form-group">
  <label class="col-2 bold text-sm-left">Receiver</label>
  <select [(ngModel)]="emailAddress" class="col-4">
    <option value="quality@manchiee.com">Quality Department</option>
    <option value="production@munchiee.com">Production Department</option>
  </select>
</div>
<div class="row form-group">
  <label class="col-2 bold text-sm-left">Comment</label>
  <textarea class="col-8" rows="5" cols="100" [(ngModel)]="comment"> </textarea>
</div>

  <div class="row">
    <button style="width: 100%" class="btn btn-lg btn-info" (click)="addComment()">Send Comment</button>
  </div>

</div>

