<div class="row justify-content-center">
  <h1>WORKSHEET DETAIL</h1>
</div>

<div class="container">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Included Processes</h5></label
    >
    <ul>
      <li>process 1 - 11111</li>
      <li>process 2 - 11112</li>
      <li>process 3 - 11113</li>
    </ul>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Store Details</h5></label
    >
    <div class="col-sm-8">
      Store 1
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Supplier Details</h5></label
    >
    <div class="col-sm-8">
      Supplier 1
    </div>
  </div>
</div>
