<div class="container">
  <div class="row">
    <div class="col-12 header_inner">
      <h1>Supplier's Product Registration</h1>
    </div>
  </div>

  <form class="custom-from">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Supplier</label>
          <select
            class="custom-select my-1 mr-sm-2"
            id="supplier"
            [(ngModel)]="selectedSuppliers"
            (ngModelChange)="selectedSupplier($event)"
          >
          <option *ngFor="let supplier of suppliers" [value]="supplier.SUPPLIER_ID">{{supplier.SUPPLIER_NAME}} </option> 
          </select>
          <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Product</label>
          <select
            class="custom-select my-1 mr-sm-2"
            id="product"
            [(ngModel)]="selectedProducts"
            (ngModelChange)="selectedProduct($event)"
          >
          <option *ngFor="let item of items" [value]="item.ITEM_ID">{{item.ITEM}} </option> 
          </select>
          <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Annual Supply</label>
          <input
            type="text"
            class="form-control"
            id="annualSupply"
            [(ngModel)]="annualSupply"
          />
        <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Unit</label>
          <input
            type="text"
            class="form-control"
            id="unit"
            [(ngModel)]="unit"
          />
        <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-12 d-flex flex-column">
        <div>
          <button type="submit" class="btn btn-custom cta" (click)="register()">
            Submit
          </button>
        </div>
        <span class="warning-msg">Please fill an value</span>
      </div>
    </div>
  </form>
</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <h1>Supplier's Product Registration</h1>
  </div>
  <br /><br />
  <div class="row">

    <div class="form-group col-md-6">
      <label><h5>Supplier</h5></label>
      <select
        class="custom-select my-1 mr-sm-2"
        id="supplier"
        [(ngModel)]="selectedSuppliers"
        (ngModelChange)="selectedSupplier($event)"
      >
      <option *ngFor="let supplier of suppliers" [value]="supplier.SUPPLIER_ID">{{supplier.SUPPLIER_NAME}} </option> 
      </select>
    </div>

    <div class="form-group col-md-6">
      <label><h5>Product</h5></label>
      <select
        class="custom-select my-1 mr-sm-2"
        id="product"
        [(ngModel)]="selectedProducts"
        (ngModelChange)="selectedProduct($event)"
      >
      <option *ngFor="let item of items" [value]="item.ITEM_ID">{{item.ITEM}} </option> 
      </select>
    </div>
  </div>

  <div class="row">

    <div class="form-group col-md-6">
      <label><h5>Annual Supply</h5></label>
      <input
        type="text"
        class="form-control"
        id="annualSupply"
        [(ngModel)]="annualSupply"
      />
    </div>
    
    <div class="form-group col-md-6">
      <label><h5>Unit</h5></label>
      <input
        type="text"
        class="form-control"
        id="unit"
        [(ngModel)]="unit"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-lg btn-info" (click)="register()">
        Submit
      </button>
    </div>
  </div>
</div> -->
