<div class="col-12 mt-4">
  <div class="h2 text-sm-center font-weight-bold">
    Good Received Note
  </div>
  <br>
  <div class="row">
    </div>

    <div class="row">
      <div class="col-sm-4 form-group" >
       
      </div>
      <div class="col-sm-4 form-group" >
        
      </div>

      <div class="col-sm-2 form-group" >
        <label class="bold">GRN NO</label>
      </div>
      <div class="col-sm-2 form-group" >
        <input type="text" placeholder="Enter GRN No" class="form-control" name="grn_no" [(ngModel)]="grn_no" required>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-4 form-group" >
       
      </div>
      <div class="col-sm-4 form-group" >
        
      </div>

      <div class="col-sm-2 form-group" >
        <label class="bold">Date</label>
      </div>
      <div class="col-sm-2 form-group" >
        <input type="date"  class="form-control" name="date" [(ngModel)]="date" required>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Supplier Name</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Supplier Name" class="form-control" name="supplier_name" [(ngModel)]="supplier_name" required>
      </div>

      <div class="col-sm-2 form-group" >
        <label class="bold">Vehicle No</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Vehicle No" class="form-control" name="vehicle_no" [(ngModel)]="vehicle_no" required>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Item IP Code</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Item IP Code" class="form-control" name="item_ip_code" [(ngModel)]="item_ip_code" required>
      </div>

      <div class="col-sm-2 form-group" >
        <label class="bold">Driver Name</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Driver Name" class="form-control" name="driver_name" [(ngModel)]="driver_name" required>
      </div>
      
    </div>
   
    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Gross Weight</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Gross Weigh" class="form-control" name="gross_weight" [(ngModel)]="gross_weight" required>
      </div>

      <div class="col-sm-2 form-group" >
        <label class="bold">Unit Specification</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Unit Specification" class="form-control" name="unit_specs" [(ngModel)]="unit_specs" required>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Tare Weight</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Tare Weight" class="form-control" name="tare_weight" [(ngModel)]="tare_weight" required>
      </div>

      <div class="col-sm-2 form-group" >
        <label class="bold">No of Items</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter No of Items" class="form-control" name="no_of_items" [(ngModel)]="no_of_items" required>
      </div>
      
    </div>

    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Net Weight</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Net Weight" class="form-control" name="net_weight" [(ngModel)]="net_weight" required>
      </div>

    </div>

    
    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Average Weight</label>
      </div>
      <div class="col-sm-1 form-group" >
        <input type="text"  class="form-control" name="avg_weight" [(ngModel)]="avg_weight" required>
      </div>

      <div class="col-sm-1 form-group" >
        <label class=" bold">Reject Type 1</label>
      </div>
      <div class="col-sm-1 form-group" >
        <input type="text"  class="form-control" name="rej_1" [(ngModel)]="rej_1" required>
      </div>

      <div class="col-sm-1 form-group" >
        <label class=" bold">Reject Type 2</label>
      </div>
      <div class="col-sm-1 form-group" >
        <input type="text"  class="form-control" name="rej_2" [(ngModel)]="rej_2" required>
      </div>

      <div class="col-sm-1 form-group" >
        <label class=" bold">Reject Type 3</label>
      </div>
      <div class="col-1 form-group" >
        <input type="text" class="form-control" name="rej_3" [(ngModel)]="rej_3" required>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Remarks</label>
      </div>
      <div class="col-sm-4 form-group" >
        <textarea placeholder="Enter Remarks" class="form-control" name="remarks" [(ngModel)]="remarks" required></textarea>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-2 form-group" >
        <label class=" bold">Item IP Code</label>
      </div>
      <div class="col-sm-4 form-group" >
        <input type="text" placeholder="Enter Item IP Code" class="form-control" name="item_ip_code_f" [(ngModel)]="item_ip_code_f" required>
      </div>
     
    </div>
    
    <div class="row">
      <div class="col-sm-1 form-group" >
        <button (click)="addButtonClick()" mat-raised-button color="accent">Clear</button>
       
      </div>
      <div class="col-sm-2 form-group" >
        &nbsp;
        <button (click)="addButtonClick()" mat-raised-button color="accent">Print</button>
         </div>
      
    </div>

    
  