<div class="row">
  <div class="h1 col-12 text-sm-center header-topic">
    Process Step Details
  </div>
</div>

<div class="container">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Place :</h5></label
    >
    <div class="col-sm-8">
      <h5>IP</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>From :</h5></label
    >
    <div class="col-sm-8">
      <h5>GRN</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>To :</h5></label
    >
    <div class="col-sm-8">
      <h5>OP</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Activity :</h5></label
    >
    <div class="col-sm-8">
      <h5>Selection</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Next step :</h5></label
    >
    <div class="col-sm-8">
      <h5>Pass</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Done By :</h5></label
    >
    <div class="col-sm-8">
      <h5>T.L. Senadeera</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Approved By :</h5></label
    >
    <div class="col-sm-8">
      <h5>T.L. Senadeera</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Conversion rate :</h5></label
    >
    <div class="col-sm-8">
      <h5>2.5%</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>Comment :</h5></label
    >
    <div class="col-sm-8">
      <h5>Store 1</h5>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label col-form-label-sm"
      ><h5>PS Code :</h5></label
    >
    <div class="col-sm-8">
      <h5>1111</h5>
    </div>
  </div>
  <div class="row button-class">
    <button type="submit" class="btn btn-lg btn-info" (click)="submit()">
      OK
    </button>
  </div>
</div>
