<div class="container">
<div class="ml-5 mr-5">
<div class="h1 col-12 text-sm-center header-topic">
  SCOPE
</div>

<div class="card" style="margin-bottom: 55px">
<div class="container" style="margin-top: 15px; margin-bottom: 15px">

  <div class="row">
    <div class="col-sm-8 form-group" >
      <!--<mat-form-field floatLabel="auto">-->
        <!--<input matInput placeholder="System">-->
      <!--</mat-form-field>-->

      <label class="bold">System</label>
      <input type="text" placeholder="Enter System" class="form-control" name="system"
             [(ngModel)]="system" required>

    </div>
    <div class="col-sm-4 form-group" >
      <!--<mat-form-field floatLabel="auto">-->
        <!--<input matInput placeholder="Ref Num">-->
      <!--</mat-form-field>-->

      <label class="bold">Ref Num</label>
      <input type="text" placeholder="" class="form-control" name="RefNum"
             [(ngModel)]="refNum" required>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 form-group">
    <!--<mat-form-field floatLabel="auto">-->
      <!--<input matInput placeholder="Company Name">-->
    <!--</mat-form-field>-->
    <label class="bold">Company Name</label>
    <input type="text" placeholder="" class="form-control" name="companyName"
           [(ngModel)]="companyName" required>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12 form-group">
    <!--<mat-form-field floatLabel="auto">-->
      <!--<input matInput placeholder="Address">-->
    <!--</mat-form-field>-->

    <label class="bold">Address</label>
    <input type="text" placeholder="" class="form-control" name="address"
           [(ngModel)]="address" required>
    </div>

  </div>

  <div class="row">
    <div class="row col-12">
    <div class="col-sm-8 form-group">
    <!--<mat-form-field floatLabel="auto">-->
      <!--<input matInput placeholder="contact person">-->
    <!--</mat-form-field>-->
      <label class="bold">Contact Person</label>
      <input type="text" placeholder="" class="form-control" name="contactPerson"
             [(ngModel)]="contactPerson" required>

    </div>

      <div class="col-sm-4">
        <div class="row form-group">
          <!--<mat-form-field floatLabel="auto">-->
            <!--<input matInput placeholder="Phone 1">-->
          <!--</mat-form-field>-->

          <label class="bold">Phone 1</label>
          <input type="text" placeholder="" class="form-control" name="phone1"
                 [(ngModel)]="phone1" required>

        </div>

        <div class="row form-group">
          <!--<mat-form-field floatLabel="auto">-->
            <!--<input matInput placeholder="Phone 2">-->
          <!--</mat-form-field>-->
          <label class="bold">Phone 2</label>
          <input type="text" placeholder="" class="form-control" name="phone2"
                 [(ngModel)]="phone2" required>

        </div>

        <div class="row form-group">
          <!--<mat-form-field floatLabel="auto">-->
            <!--<input matInput placeholder="Position">-->
          <!--</mat-form-field>-->

          <label class="bold">Position</label>
          <input type="text" placeholder="" class="form-control" name="position"
                 [(ngModel)]="position" required>
        </div>


      </div>

    </div>
  </div>

  <div class="row">
    <div class="row col-12">
      <div class="col-sm-8 form-group">
        <!--<mat-form-field floatLabel="auto">-->
          <!--<input matInput placeholder="Responsible person">-->
        <!--</mat-form-field>-->

        <label class="bold">Responsible Person</label>
        <input type="text" placeholder="" class="form-control" name="resPerson"
               [(ngModel)]="resPerson" required>
      </div>

      <div class="col-4">
        <div class="row form-group">
          <!--<mat-form-field floatLabel="auto">-->
            <!--<input matInput placeholder="Phone">-->
          <!--</mat-form-field>-->

          <label class="bold">Phone</label>
          <input type="text" placeholder="" class="form-control" name="resPhone"
                 [(ngModel)]="resPhone" required>
        </div>

        <div class="row form-group">
          <!--<mat-form-field floatLabel="auto">-->
            <!--<input matInput placeholder="Position">-->
          <!--</mat-form-field>-->

          <label class="bold">Position</label>
          <input type="text" placeholder="" class="form-control" name="resPosition"
                 [(ngModel)]="resPosition" required>
        </div>
      </div>

    </div>
  </div>



  <div class="row">
    <div class="col-sm-6" >
      <!--<mat-form-field floatLabel="auto">-->
        <!--<input matInput placeholder="Product">-->
      <!--</mat-form-field>-->

      <label class="bold">Product</label>
      <input type="text" placeholder="" class="form-control" name="product"
             [(ngModel)]="product" required>
    </div>
    <div class="col-sm-6" >
      <!--<mat-form-field floatLabel="auto">-->
        <!--<input matInput placeholder="Service">-->
      <!--</mat-form-field>-->

      <label class="bold">Service</label>
      <input type="text" placeholder="" class="form-control" name="service"
             [(ngModel)]="service" required>
    </div>
  </div>
  <div class="row col-12 align-content-lg-center" style="margin-top: 10px;">
    <button (click)="addButtonClick()" mat-raised-button color="accent">Add</button>
  </div>

</div>


</div>
</div>

</div>


