<div class="ml-5 mr-5">
<div class="h1 col-12 text-sm-center" style="color:#090634 ">
  Scope
</div>


<div class="example-container" style="background: #BDC3C7" >

  <div class="row mb-5">
    <div class="col-8" >
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="System">
      </mat-form-field>
    </div>
    <div class="col-4" >
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Ref Num">
      </mat-form-field>
    </div>
  </div>

  <div class="row mb-5 col-12">
    <mat-form-field floatLabel="auto">
      <input matInput placeholder="Company Name">
    </mat-form-field>
  </div>

  <div class="row mb-5 col-12">
    <mat-form-field floatLabel="auto">
      <input matInput placeholder="Address">
    </mat-form-field>
  </div>

  <div class="row mb-5">
    <div class="row col-12">
    <div class="col-8">
    <mat-form-field floatLabel="auto">
      <input matInput placeholder="contact person">
    </mat-form-field>
    </div>

      <div class="col-4">
        <div class="row">
          <mat-form-field floatLabel="auto">
            <input matInput placeholder="Phone 1">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field floatLabel="auto">
            <input matInput placeholder="Phone 2">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field floatLabel="auto">
            <input matInput placeholder="Position">
          </mat-form-field>
        </div>


      </div>

    </div>
  </div>

  <div class="row mb-5">
    <div class="row col-12">
      <div class="col-8">
        <mat-form-field floatLabel="auto">
          <input matInput placeholder="Responsible person">
        </mat-form-field>
      </div>

      <div class="col-4">
        <div class="row">
          <mat-form-field floatLabel="auto">
            <input matInput placeholder="Phone">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field floatLabel="auto">
            <input matInput placeholder="Position">
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>

  <div class="row col-12 align-content-lg-center">
    <button mat-raised-button color="accent">Add</button>
  </div>

  <div class="row">
    <div class="col-6" >
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Product">
      </mat-form-field>
    </div>
    <div class="col-6" >
      <mat-form-field floatLabel="auto">
        <input matInput placeholder="Service">
      </mat-form-field>
    </div>
  </div>


</div>
</div>

