<div class="card">
  <div class="h1 col-12 text-sm-center header-topic">
    {{companyName}}
  </div>
  <div class="col-12">
    <div class="row header-details">
      <div class="col-3">
        <label class="col-12 bold text-sm-center">Doc#</label>
        <div class="bold text-sm-center">1234</div>
      </div>

      <div class="col-3">
        <label class="col-12 bold text-sm-center">GTS Ref#</label>
        <div class="bold text-sm-center">1234</div>
      </div>


      <div class="col-3">
        <label class="col-12 bold text-sm-center">Revision</label>
        <div class="bold text-sm-center">1234</div>
      </div>

      <div class="col-3">
        <label class="col-12 bold text-sm-center">Level 1</label>
        <div class="bold text-sm-center">1234</div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 bold text-sm-center docName">{{docName}}</div>
    </div>
    <div class="row">
      <div class="col-2"></div>

      <div class="col-2">Scope</div>
      <div class="col-2">QA</div>
      <div class="col-4">Applicable Only For External Complains</div>

      <div class="col-2"></div>
    </div>

    <div class="card">
      <div class="card-header text-sm-center">
        Document Summary
      </div>
      <div class="card-body">
        <textarea class="col-12" rows="8" cols="100"> </textarea>

      </div>
    </div>
    <div class="card">
      <div class="card-header text-sm-center">
        Points To Follow
      </div>
      <div class="card-body">



      </div>
    </div>
  </div>
</div>



