.header-topic{
  color:#0E3E0D;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 25px;
}
.header-details{
  background: #4a5d7e;
  margin: 5px;
}
.docName{
  margin: 5px;
  font-size: large;
}
.scope{
  align-items: center;
}
.remove-button{
  background: brown;
}
#dropFileForm {
  margin: 16px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  transition: 0.5s;
}

#dropFileForm #fileLabel {
  background-color: rgba(13, 40, 93, 0.5);
  display: block;
  padding: 16px;
  position: relative;
  cursor: pointer;
}

#dropFileForm #fileInput {
  display: none;
}

#dropFileForm #fileLabel:after,
#dropFileForm #fileLabel:before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: -2;
  border-radius: 8px 8px 0 0;
}

#dropFileForm #fileLabel:before {
  z-index: -1;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 5%,
    black 5%,
    black 10%
  );
  opacity: 0;
  transition: 0.5s;
}

#dropFileForm.fileHover #fileLabel:before {
  opacity: 0.25;
}

#dropFileForm .uploadButton {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 8px;
  background-color: #0e2c68;
  color: #fff;
  cursor: pointer;
}

#dropFileForm.fileHover {
  box-shadow: 0 0 16px #0e2c68;
}
.document-select{
  width: 400px;
  height: 10px;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 39px;
}
#multiselectelement{
  width: 100%;
}
.header-topic{
  color:white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /*margin-top: 10px;*/
  background: #0e2c68;
}
