<div class="container">
  <div class="row">
    <div class="col-12 header_inner">
      <h1>Item Registration</h1>
    </div>
  </div>

  <form class="custom-from">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Item Name</label>
          <input
            type="text"
            class="form-control"
            id="itemName"
            [(ngModel)]="itemName"
          />
          <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Item Code</label>
          <input
            type="text"
            class="form-control"
            id="itemCode"
            [(ngModel)]="itemCode"
          />
          <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Item Specification</label>
          <input
            type="text"
            class="form-control"
            id="itemSpec"
            [(ngModel)]="itemSpec"
          />
        <span class="warning-msg">Please fill an value</span>
        </div>
      </div>

      <div class="col-sm-12 d-flex flex-column">
        <div>
          <button type="submit" class="btn btn-custom cta" (click)="addProcess()">
            Submit
          </button>
        </div>
        <span class="warning-msg">Please fill an value</span>
      </div>
    </div>
  </form>
</div>

<!-- <div class="container">
  <div class="row justify-content-center">
    <h1>Item Registration</h1>
  </div>
  <br /><br />
  <div class="row">
    <div class="form-group col-md-6">
      <label><h5>Item Name</h5></label>
      <input
        type="text"
        class="form-control"
        id="itemName"
        [(ngModel)]="itemName"
      />
    </div>
    <div class="form-group col-md-6">
      <label><h5>Item Code</h5></label>
      <input
        type="text"
        class="form-control"
        id="itemCode"
        [(ngModel)]="itemCode"
      />
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <label><h5>Item Specification</h5></label>
      <input
        type="text"
        class="form-control"
        id="itemSpec"
        [(ngModel)]="itemSpec"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-lg btn-info" (click)="register()">
        Submit
      </button>
    </div>
  </div>
</div> -->
