<div class="h1 col-12 text-sm-center"  style="color:white; background: #0e2c68 ">
  Upload a New Document
</div>
<div class="col-12 row mb-5">
<div class="col-6 dropdown">
  <select class="col-12 mb-md-2">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
</div>

  <div class="col-6">

  <label class="bold">Document Name</label>
  <input type="text" placeholder="Document name" class="form-control" name="docName"
         [(ngModel)]="docName" required>

  </div>



  <!--<div class="row">-->
  <!--<label class="btn btn-default">-->
  <!--<input type="file" (change)="selectFileaws($event)">-->
  <!--</label>-->

  <!--</div>-->
  <!--<div class="text-right">-->
  <!--<button class="btn btn-success " [disabled]="!selectedFiles" (click)="uploadaws()">Upload</button>-->
  <!--</div>-->
  </div>

<div id="dropFileForm">
  <input type="file" name="files[]" id="fileInput" (change)="addFiles($event)">

  <label for="fileInput" id="fileLabel" (dragover)="overrideDefault($event);" (dragenter)="overrideDefault($event);" (dragleave)="overrideDefault($event);" (drop)="overrideDefault($event);
        addFiles($event);">
    <i class="fa fa-download fa-5x"></i>
    <br>
    <!--<span id="fileLabelText">-->
      <!--Choose a file or drag it here-->
    <!--</span>-->
    <label>{{FileLabeltext}}</label>
    <br>
    <span id="uploadStatus"></span>
  </label>

  <button class="uploadButton" (click)="uploadaws()">Upload</button>
</div>
