<div class="h1 col-12 text-sm-center"  style="color:white; background: #0e2c68 ">
  Upload a New Document
</div>
<div class="col-12 row mb-5">
<div class="col-6 dropdown">
  <select class="col-12 mb-md-2">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="opel">Opel</option>
    <option value="audi">Audi</option>
  </select>
</div>

  <div class="col-6">

  <label class="bold">Document Name</label>
  <input type="text" placeholder="Document name" class="form-control" name="docName"
         [(ngModel)]="docName" required>

  </div>

</div>
