@charset "utf-8";

// Related to material theme
@import '~@angular/material/theming';
@include mat-core();

// global font variable

$font-ar: 'Noto Kufi Arabic', Roboto;

// Light theme
$light-primary: mat-palette($mat-grey, 600, 500, 800);
$light-accent:  mat-palette($mat-light-blue, 800);
$light-warn:    mat-palette($mat-orange);
$light-theme: 	mat-light-theme($light-primary, $light-accent, $light-warn);

@include angular-material-theme($light-theme);

.theme1 {
	@include angular-material-theme($light-theme);
}

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue);
$dark-accent:  mat-palette($mat-pink, A200, A100, A400);
$dark-warn:    mat-palette($mat-red);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.theme2 {
  	@include angular-material-theme($dark-theme);
}

@import "bootstrap/bootstrap.min";
@import "bootstrap/bootstrap-override";
@import "bootstrap/bootstrap-rtl";
@import "material-override";
@import 'rubix-widgets';
@import "config-styles";
@import 'common';
@import 'font-awesome';
@import 'fonts';
@import 'media';
@import 'flags';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

@import '~@syncfusion/ej2-base/styles/material.css';
@import '~@syncfusion/ej2-buttons/styles/material.css';
@import '~@syncfusion/ej2-dropdowns/styles/material.css';
@import '~@syncfusion/ej2-inputs/styles/material.css';
@import '~@syncfusion/ej2-popups/styles/material.css';
@import '~@syncfusion/ej2-lists/styles/material.css';
@import '~@syncfusion/ej2-angular-dropdowns/styles/material.css';

