.flag {
	width: 20px;
	height: 12px;
	// background: url(../images/flags-sprite.png) no-repeat;
}

.sa, .SA {
	background-position: -25px 0;
}

.eg, .EG {
	background-position: -50px 0;
}

.us, .US {
	background-position: -75px 0;
}

.tr, .TR {
	background-position: -100px 0;
}

.gb, .GB {
	background-position: -125px 0;
}

.uk, .GB {
	background-position: -125px 0;
}

.ps, .PS {
	background-position: -150px 0;
}

.iq, .IQ {
	background-position: -175px 0;
}

.kw, .KW {
	background-position: -200px 0;
}

.qa, .QA {
	background-position: -225px 0;
}

.lk, .LK {
	background-position: -250px 0;
}

.in, .IN {
	background-position: -275px 0;
}

.om, .OM {
	background-position: -300px 0;
}

.jo, .JO {
	background-position: -325px 0;
}

.lb, .LB {
	background-position: -350px 0;
}

.ly, .LY {
	background-position: -375px 0;
}

.tn, .TN {
	background-position: -400px 0;
}

.ma, .MA {
	background-position: -425px 0;
}

.fr, .FR {
	background-position: -450px 0;
}

.fr, .FR {
	background-position: -450px 0;
}

.de, .DE {
	background-position: -475px 0;
}

.it, .IT {
	background-position: -500px 0;
}

.eu, .EU {
	background-position: -525px 0;
}

.bh, .BH {
	background-position: -550px 0;
}

.ae, .AE {
	background-position: -575px 0;
}

.sy, .SY {
	background-position: -600px 0;
}

.ky, .KY {
	background-position: -625px 0;
}

.sg, .SG {
	background-position: -650px 0;
}

.id, .ID {
	background-position: -675px 0;
}

.ng, .NG {
	background-position: -700px 0;
}

.pk, .PK {
	background-position: -725px 0;
}

.ci, CI {
	background-position: -750px 0;
}

.af, .AF {
	background-position: -775px 0;
}

.bj, .BJ {
	background-position: -800px 0;
}

.mu, .MU {
	background-position: -825px 0;
}

.sd, .SD {
	background-position: -850px 0;
}

.tz, .TZ {
	background-position: -875px 0;
}

.cd, .CD {
	background-position: -900px 0;
}

.gq, GQ {
	background-position: -925px 0;
}

.kz, .KZ {
	background-position: -950px 0;
}

.ye, .YE {
	background-position: -975px 0;
}

.ad, .AD {
	background-position: 0 -17px;
}

.ai, .AI {
	background-position: -25px -17px;
}

.al, .AL {
	background-position: -50px -17px;
}

.am, .AM {
	background-position: -75px -17px;
}

.ao, .AO {
	background-position: -100px -17px;
}

.aq, .AQ {
	background-position: -125px -17px;
}

.ar, .AR {
	background-position: -150px -17px;
}

.at, .AT {
	background-position: -175px -17px;
}

.au, .AU {
	background-position: -200px -17px;
}

.bd, .BD {
	background-position: -225px -17px;
}

.be, .BE {
	background-position: -250px -17px;
}

.bg, .BG {
	background-position: -275px -17px;
}

.br, .BR {
	background-position: -300px -17px;
}

.bs, .BS {
	background-position: -325px -17px;
}

.ca, .CA {
	background-position: -350px -17px;
}

.ch, .CH {
	background-position: -375px -17px;
}

.cl, .CL {
	background-position: -400px -17px;
}

.cm, .CM {
	background-position: -425px -17px;
}

.cn, .CN {
	background-position: -450px -17px;
}

.co, .CO {
	background-position: -475px -17px;
}

.co, .CO {
	background-position: -475px -17px;
}

.cr, .CR {
	background-position: -500px -17px;
}

.cu, .CU {
	background-position: -525px -17px;
}

.cy, .CY {
	background-position: -550px -17px;
}

.dk, .DK {
	background-position: -575px -17px;
}

.dz, .DK {
	background-position: -600px -17px;
}

.ph, .PH {
	background-position: -625px -17px;
}

.pl, .PL {
	background-position: -650px -17px;
}

.pg, .PG {
	background-position: -675px -17px;
}

.no, .NO {
	background-position: -700px -17px;
}

.bz, .BZ {
	background-position: -725px -17px;
}

.es, .ES {
	background-position: -750px -17px;
}

.it, .IT {
	background-position: -775px -17px;
}

.vg, .VG {
	background-position: -800px -17px;
}

.se, .SE {
	background-position: -825px -17px;
}

.vn, .VN {
	background-position: -850px -17px;
}

.flag.th {
	background-position: -875px -17px;
}

.jp, .JP {
	background-position: -900px -17px;
}

.pt, .PT {
	background-position: -925px -17px;
}

.lr, .LR {
	background-position: -950px -17px;
}

.hk, .HK {
	background-position: -975px -17px;
}

.mr, .MR {
	background-position: 0 -34px;
}

.gi, .GI {
	background-position: -25px -34px;
}

.bn, .BN {
	background-position: -50px -34px;
}

.je, .JE {
	background-position: -75px -34px;
}

.dj, .DJ {
	background-position: -100px -34px;
}

.ke, .KE {
	background-position: -125px -34px;
}

.kr, .KR {
	background-position: -150px -34px;
}

.so, .SO {
	background-position: -175px -34px;
}

.im, .IM {
	background-position: -200px -34px;
}

.nl, .NL {
	background-position: -225px -34px;
}

.lu, .LU {
	background-position: -250px -34px;
}

.sz, .SZ {
	background-position: -275px -34px;
}

.bm, .BM {
	background-position: -300px -34px;
}

.ir, .IR {
	background-position: -325px -34px;
}

.my, .MY {
	background-position: -350px -34px;
}

.za, .ZA {
	background-position: -375px -34px;
}

.ec, .EC {
	background-position: -400px -34px;
}

.pa, .PA {
	background-position: -425px -34px;
}

.mt, .MT {
	background-position: -450px -34px;
}

.ga, .GA {
	background-position: -475px -34px;
}

.gr, .GR {
	background-position: -500px -34px;
}

.bf, .BF {
	background-position: -525px -34px;
}

.pr, .PR {
	background-position: -550px -34px;
}

.hu, .HU {
	background-position: -575px -34px;
}

.tw, .TW {
	background-position: -600px -34px;
}

.gg, .GG {
	background-position: -625px -34px;
}

.ee, .EE {
	background-position: -650px -34px;
}

.fi, .FI {
	background-position: -675px -34px;
}

.ie, .IE {
	background-position: -700px -34px;
}

.mx, .MX {
	background-position: -725px -34px;
}

.kp, .KP {
	background-position: -750px -34px;
}

.cz, .CZ {
	background-position: -775px -34px;
}

.rs, .RS {
	background-position: -800px -34px;
}

.ro, .RO {
	background-position: -825px -34px;
}

.sk, .SK {
	background-position: -850px -34px;
}

.ba, .BA {
	background-position: -875px -34px;
}

.hr, .HR {
	background-position: -900px -34px;
}

.sc, .SC {
	background-position: -925px -34px;
}
.as, .AS {
	background-position:-950px -34px;
}
.ag, .AG {
	background-position:-975px -34px;
}
.aw, .AW {
	background-position: 0 -50px;
}
.az, .AZ {
	background-position: -25px -50px;
}
.bb, .BB {
	background-position: -50px -50px;
}
.by, .BY {
	background-position: -75px -50px;
}
.bj, .BJ {
	background-position: -100px -50px;
}
.bm, .BM {
	background-position: -125px -50px;
}
.bt, .BT {
	background-position: -150px -50px;
}
.bo, .BO {
	background-position: -175px -50px;
}
.ba, .BA {
	background-position: -200px -50px;
}
.bw, .BW {
	background-position: -225px -50px;
}
.bv, .BV {
	background-position: -250px -50px;
}
.io, .IO {
	background-position: -275px -50px;
}
.bi, .BI {
	background-position: -300px -50px;
}
.kh, .KH {
	background-position: -325px -50px;
}
.cv, .CV {
	background-position: -350px -50px;
}
.cf, .CF {
	background-position: -375px -50px;
}
.td, .TD {
	background-position: -400px -50px;
}
.cx, .CX {
	background-position: -425px -50px;
}
.cc, .CC {
	background-position: -450px -50px;
}
.km, .KM {
	background-position: -475px -50px;
}
.cg, .CG {
	background-position: -500px -50px;
}
.cg, .CG {
	background-position: -500px -50px;
}
.ck, .CK {
	background-position: -525px -50px;
}
.hr, .HR {
	background-position: -550px -50px;
}
.cz, .CZ {
	background-position: -575px -50px;
}
.dm, .DM {
	background-position: -600px -50px;
}
.do, .DO {
	background-position: -625px -50px;
}
.sv, .SV {
	background-position: -650px -50px;
}
.er, .ER {
	background-position: -675px -50px;
}
.et, .ET {
	background-position: -700px -50px;
}
.fk, .FK {
	background-position: -725px -50px;
}
.fo, .FO {
	background-position: -750px -50px;
}
.fj, .FJ {
	background-position: -775px -50px;
}
.gf, .GF {
	background-position: -800px -50px;
}
.pf, .PF {
	background-position: -825px -50px;
}
.tf, .TF {
	background-position: -850px -50px;
}
.gm, .GM {
	background-position: -875px -50px;
}
.ge, .GE {
	background-position: -900px -50px;
}
.gh, .GH {
	background-position: -925px -50px;
}
.gl, .GL {
	background-position: -950px -50px;
}
.gd, .GD {
	background-position: -975px -50px;
}
.gp, .GP {
	background-position: -0px -67px;
}
.gu, .GU {
	background-position: -25px -67px;
}
.gt, .GT {
	background-position: -50px -67px;
}
.gn, .GN {
	background-position: -75px -67px;
}
.gw, .GW {
	background-position: -100px -67px;
}
.gy, .GY {
	background-position: -125px -67px;
}
.ht, .HT {
	background-position: -150px -67px;
}
.hm, .HM {
	background-position: -175px -67px;
}
.va, .VA {
	background-position: -200px -67px;
}
.hn, .HN {
	background-position: -225px -67px;
}
.is, .IS {
	background-position: -250px -67px;
}
.il, .IL {
	background-position: -275px -67px;
}
.jm, .JM {
	background-position: -300px -67px;
}
.ki, .KI {
	background-position: -325px -67px;
}
.kg, .KG {
	background-position: -350px -67px;
}
.la, .LA {
	background-position: -375px -67px;
}
.lv, .LV {
	background-position: -400px -67px;
}
.ls, .LS {
	background-position: -425px -67px;
}
.li, .LI {
	background-position: -450px -67px;
}
.lt, .LT {
	background-position: -475px -67px;
}
.mo, .MO {
	background-position: -500px -67px;
}
.mk, .MK {
	background-position: -525px -67px;
}
.mg, .MG {
	background-position: -550px -67px;
}
.mw, .MW {
	background-position: -575px -67px;
}
.mv, .MV {
	background-position: -600px -67px;
}
.ml, .ML {
	background-position: -625px -67px;
}
.mh, .MH {
	background-position: -650px -67px;
}
.mq, .MQ {
	background-position: -675px -67px;
}
.yt, .YT {
	background-position: -700px -67px;
}
.fm, .FM {
	background-position: -725px -67px;
}
.md, .MD {
	background-position: -750px -67px;
}
.mc, .MC {
	background-position: -775px -67px;
}
.mn, .MN {
	background-position: -800px -67px;
}
.me, .ME {
	background-position: -825px -67px;
}
.ms, .MS{
	background-position: -850px -67px;
}
.mz, .MZ {
	background-position: -875px -67px;
}
.mm, .MM{
	background-position: -900px -67px;
}
.na, .NA {
	background-position: -925px -67px;
}
.nr, .NR {
	background-position: -950px -67px;
}
.np, .NP {
	background-position: -975px -67px;
}
.nc, .NC {
	background-position: -0px -85px;
}
.nz, .NZ {
	background-position: -25px -85px;
}
.ni, .NI {
	background-position: -50px -85px;
}
.ne, .NE {
	background-position: -75px -85px;
}
.nu, .NU {
	background-position: -100px -85px;
}
.nf, .NF {
	background-position: -125px -85px;
}
.mp, .MP {
	background-position: -150px -85px;
}
.pw, .PW {
	background-position: -175px -85px;
}
.py, .PY {
	background-position: -200px -85px;
}
.pe, .PE {
	background-position: -225px -85px;
}
.pn, .PN {
	background-position: -250px -85px;
}
.re, .RE {
	background-position: -275px -85px;
}
.ro, .RO {
	background-position: -300px -85px;
}
.ru, .RU {
	background-position: -325px -85px;
}
.rw, .RW {
	background-position: -350px -85px;
}
.sh, .SH {
	background-position: -375px -85px;
}
.kn, .KN {
	background-position: -400px -85px;
}
.lc, .LC {
	background-position: -425px -85px;
}
.pm, .PM {
	background-position: -450px -85px;
}
.vc, .VC {
	background-position: -475px -85px;
}
.ws, .WS {
	background-position: -500px -85px;
}
.sm, .SM {
	background-position: -525px -85px;
}
.st, .ST {
	background-position: -550px -85px;
}
.sn, .SN {
	background-position: -575px -85px;
}
.rs, RS {
	background-position: -600px -85px;
}
.sc, .SC {
	background-position: -625px -85px;
}
.sl, .SL {
	background-position: -650px -85px;
}
.sk, .SK {
	background-position: -675px -85px;
}
.si, .SI {
	background-position: -700px -85px;
}
.sb, .SB {
	background-position: -725px -85px;
}
.gs, .GS {
	background-position: -750px -85px;
}
.ss, .SS {
	background-position: -775px -85px;
}
.sr, .SR {
	background-position: -800px -85px;
}
.sj, .SJ {
	background-position: -825px -85px;
}
.tj, .TJ {
	background-position: -850px -85px;
}
.tg, .TG {
	background-position: -875px -85px;
}
.tk, .TK {
	background-position: -900px -85px;
}
.to, .TO {
	background-position: -925px -85px;
}
.tt, .TT {
	background-position: -925px -85px;
}
.tm, .TM {
	background-position: -925px -85px;
}
.tc, .TC {
	background-position: -0px -103px;
}
.tv, .TV {
	background-position: -25px -103px;
}
.ug, .UG {
	background-position: -50px -103px;
}
.ua, .UA {
	background-position: -75px -103px;
}
.um, .UM {
	background-position: -100px -103px;
}
.uy, .UY {
	background-position: -125px -103px;
}
.uz, .UZ {
	background-position: -150px -103px;
}
.vu, .VU {
	background-position: -175px -103px;
}
.ve, .VE {
	background-position: -200px -103px;
}
.vi, .VI {
	background-position: -225px -103px;
}
.wf, .WF {
	background-position: -250px -103px;
}
.eh, .EH {
	background-position: -275px -103px;
}
.zm, .ZM {
	background-position: -300px -103px;
}
.zw, .ZW {
	background-position: -325px -103px;
}

.flag.not {
	background-position: 0 0;
}
